# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
models/checkpoints/
models/data/
.idea
__pycache__/
models/save/weights/transformer_weight420.h5
models/save/weights/transformer_weight_vocab_31960_layers_8_epochs_40.h5
/models/transformer/test
/models/transformer/test/
models/save/weights/transformer_weight_vocab_31960_layers_4_epochs_110.h5
