{% block content %}
<div class="container">
  <form method="POST" action="">
    {% csrf_token %}
    <!-- 나중에 그냥 다 수직구조로 바꾸기 -->

    <div class="forms-horizontal">
      <label for="userid">ID</label>
      <input type="text" class="form-control" name="userid" id="userid"
               value="{{ form.userid.value|default_if_none:'' }}">
    </div>
    <div class="forms-horizontal">
      <label for="passwd">PASSWORD</label>
      <input type="password" class="form-control" name="passwd" id="passwd"
             value="{{ form.passwd.value|default_if_none:'' }}">
    </div>
    <div class="buttons-horizontal">
        <button type="submit" class="bg-gradient">LOGIN</button>
        <a href="{% url 'accounts:join' %}">아이디가 없으신가요?</a>
    </div>
  </form>
</div>
{% endblock %}
