body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF6EA;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #E97777;
}
input:focus { outline: none; }

.inner{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10%;
}
.container{
    position: relative;
    width: 100%;
    padding: 5%;
}
form{
    position: relative;
    width: 100%;
    padding: 5%;
}
.forms-horizontal {
    position: relative;
    display: flex;
    height: 80px;
    justify-content: space-between;

}
.forms-vertical {
    position: relative;
    width: 100%
}
label{
    position: relative;
    width: 25%;
    min-width: 1.2rem;
    height: 50px;
    font-size: large;
    padding: 12px 0; /* 개선필요 */
}
.forms-horizontal input{
    position: relative;
    width: 75%;
    height: 50px;
    background-color: #ffffff;
    outline: none;
}
.forms-vertical input {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    outline: none;
}
.buttons-horizontal{
    display: flex;
    position: relative;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}
.buttons-horizontal button{
    position: relative;
    width: 49%;
    height: 60px;
    background-color: #FF9F9F;
    border: none;
    border-radius: 5px;
    color: #212529;
}
.buttons-vertical{
    position: relative;
    width: 100%;
}
.buttons-vertical button{
    position: relative;
    width: 80%;
    height: 60px;
    background-color: #FF9F9F;
    border: none;
    border-radius: 5px;
    color: #212529;
}
.buttons button:hover{
  filter: brightness(85%);
}
table{
    position:relative;
    width: 100%;
}

.detail-th{
    width: 20%;
    min-width: 60px;
    height: 50px;
    background-color: #dfc2c4;
}
.detail-td{
    width: 80%;
}
.detail-input{
    position: relative;
    max-width: 100%;
    height: 40px;
}
.detail-textarea{
    position: relative;
    width: 100%;
}